.AddTaskWrapper{
    position: relative;
}
.AddTaskWrapper .Popup {
    position: absolute;
    top: 91%;
    left: 0;
    display: none;
    background-color: white;
    border: 1px solid;
    z-index: 10;
    width: 200px;
}
.AddTaskWrapper .Popup.open {
    display: block;
}
.AddTaskWrapper .Popup.open .ColName{
    padding: 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}