.Documents{
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
}
.Sidebar{
    width: 300px;
    height: 100%;
}
.CKEditorWrapper{
    flex:1;
    overflow-y: auto;
}
.CKEditorWrapper th, .CKEditorWrapper td{
    border: 1px solid;
}
.Sidebar .Page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #3f51b5;
    margin: 10px;
    border-radius: 5px;
}
.Sidebar button {
    margin: 10px;
}
/* . input{

} */
.PageTitle input {
    border: 0;
    border: 1px solid transparent;
    background-color: transparent;
    width: inherit;
    font-size: 16px;
}
.PageTitle{
    padding: 10px 0;
}
.PageTitle input:focus {
    border-bottom: 1px solid #3f51b5;
    outline: 0;
 }