.TaskComponent {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fbfbfb;
    box-shadow: 1px 2px 6px 2px rgb(0 0 0 / 22%);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.TaskComponent:before {
    content: '';
    display: block;
    height: 100%;
    width: 5px;
    position: absolute;
    background-color: #3f51b5;
    top: 0;
    left: 0;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.TaskComponentHeader{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.TaskComponentBody, .TaskComponentFooter{
    width: 100%;
}
.TaskComponent input {
    border: 0;
    background-color: transparent;
    width: inherit;
}

.TaskComponent input:focus{
    border-bottom: 1px solid rebeccapurple;
    outline: 0;
}
.hover{
    cursor: pointer;
}
 .TaskComponent .Action{
    visibility: hidden;
    opacity: 0;
 }
.TaskComponent:hover .Action{
    visibility: visible;
    opacity: 1;
    transition: 0.5s opacity 0.1s ease-out;
}

.TaskComponent .TaskDescriptionWrapper{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.TaskDescriptionWrapper{
    position: relative;
}
.TaskDescriptionWrapper::before{
    content: '';
    position: absolute;
    background-color: #4051b5;
    height: 2px;
    width: 100%;
    z-index: 0;
    left: 0;
   
}
.TaskDescriptionWrapper::before{
    top: 4px;
}
.TaskDescriptionWrapper::after{
   bottom: 8px;

}
.TaskComponent textarea{
    width: 100%;
    height: 100px;
    resize: none;
    border: 0;
    background: transparent;
    font-size: 14px;
}
.TaskComponent textarea:focus{
    outline: 0;
}