.Column {
 user-select: none;
 padding: 16px;
 margin: 10px 34px 10px 0px;
 display: flex;
 width: 270px;
 flex-direction: column;
 background: #fbfbfb;
 box-shadow: 0px 8px 20px 2px rgb(0 0 0 / 24%);
 border-radius: 5px;
}
.Column > button ,.ColumnHeaderWrapper .RemoveIcon, .ColumnHeaderWrapper .DragIcon{
    opacity: 0;
    visibility: hidden;
 }
.Column:hover button, .Column:hover .ColumnHeaderWrapper .RemoveIcon , .Column:hover .ColumnHeaderWrapper .DragIcon{
    visibility: visible;
    opacity: 1;
    transition:0.5s opacity 0.2s ease-out;
}
