.ColumnHeaderWrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 0;

}

.ColumnHeaderWrapper .ColumnName{
    border: 0;
    background-color: transparent;
    flex: 1

}
.ColumnHeaderWrapper .ColumnName:focus{
    border-bottom: 1px solid #3f51b5;
    outline: 0;
}

