.ProjectHeaderWrapper{
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    box-shadow: 0px 5px 4px #3f51b54d;
}
.ProjectHeaderWrapper input {
    border: 0;
    border: 1px solid transparent;
    background-color: transparent;
    width: inherit;
    font-size: 16px;
}
.ProjectHeaderWrapper input:focus {
    border-bottom: 1px solid #3f51b5;
    outline: 0;
 }
 .ProjectMembers{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .ProjectMembers h5 {
     padding-right: 20px;
 }
 .ProjectHeaderWrapper .SendEmail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
 }