
.ProjectTagsWrapper{
    position: relative;
    cursor: pointer;
}
.ProjectTagsWrapper .ProjectTags{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1; 
    display: none;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #3f51b5;
}
.ProjectTagsWrapper .ProjectTags.active{
    display: block;
}
.ProjectTags .Tag{
    padding: 5px;
    border-bottom: 1px solid #3f51b5;
    display: flex;
    justify-content: space-between;
}
.ProjectTags .Tag > div{
    width: 100px;
}
.AddNewTag{
    display: flex;
    padding: 20px 5px 5px;
    position: relative;
    flex-wrap: wrap;
    width: 280px;
    justify-content: space-between;
}
.AddNewTag input{
    width: 170px;
}
.AddNewTag button {
    margin-top: 30px;
}
.AddNewTag .ColorPickerButton{
    width: 100px;
    height: 20px;
}
.AddNewTag .chrome-picker{
    position: absolute;
    top: 0;
    left: 100%;
}