.AvatarWrapper{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
 .Avatar {
    width: 26px;
    height: 26px;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(231deg 48% 48%);
    color: white;
    margin: 0 2px 0 -10px;
    position: relative;
    background-position: center;
    background-size: 30px;
}
.Avatar:hover .Close{
    visibility: visible;
}
.Close {
    visibility: hidden;
    position: absolute;
    top: -3px;
    left: -4px;
    
}

.AvatarWrapper .Add.Icon {
    transform: rotate(0);
    transition: transform ease-out 0.2s;
}

.AvatarWrapper .Add.rotate {
    transform: rotate(45deg);
}

.Avatar.Icon{
    color: hsl(231deg 48% 48%);
    background-color: transparent;
    border-color: transparent;
    height: 30px;
    width: 30px;
    margin-top: -4px;
}

 .Avatar:hover {
    z-index: 1;
    cursor: pointer;
}

.MemberSearch input {
    border: 0;
    background-color: transparent;
    flex: 1;
    width: 100%;
    font-size: 16px;
}

.MemberSearch input:focus{
    border-bottom: 1px solid rebeccapurple;
    outline: 0;
}

.Member{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3f51b5;
}

.MemberList{
    max-height: 200px;
    overflow-y: auto;
}